* {
    box-sizing: border-box; 
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family : 'Open Sans', 'Helvetica Neue', sans-serif ,Helvetica, Arial, sans-serif;
    background-color: white;
}

label,
h2 {
    font-size: 30px;
    font-weight: normal;
    padding-left: 20px;
}

h3 {
    font-weight: normal;
    padding: 20px 0px 15px 0px;
    
}
span {
    padding-left: 20px;
}

h4 {
    font-weight: normal;
    font-size: 14px;
}

#navBar {
    display: flex;
    color: white;
    top: 0px;
    justify-content: center;
}

.title {
    flex-grow:1;
    flex:1;
    background-color: black;
    justify-content: center;
    text-align: center;
}

#content {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 180px 20px 80px 20px
}

.school {
    flex-basis: 250px;
    flex-grow:1;
    border-color: black;
    text-align: center;
    justify-content: center;
    margin: 20px 20px 5px 20px;
}
img {
    height: 500px;
    width: 900px;
    margin: 30px 30px 10px 30px
}

.studentsList {
    margin: 150px 0px 150px 0px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.list-title {
    display: flex;
    flex-wrap:wrap;
    color: grey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
}

.list-topic {
    flex-basis: 250px;
    flex:5;
    margin: 10px 0px 5px 0px
}

.stu1{
    flex:1
}

.list-topic-1 {
    flex-basis: 250px;
    flex:5;
    margin: 20px 0px 40px 0px
}

.list-title-1 {
    display: flex;
    flex-wrap:wrap;
    color: grey;
    margin-top: 30px
}

.stu2{
    flex:1
}

a {
    color:white;
    cursor: auto;
    text-decoration: none;
}


a:hover {
    color: rgb(172, 172, 172)
}

.single-camp {
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex:1;
    /* background-color: red; */
}

.right {
    flex:1;
    /* background-color: green; */
}

#add-camp {
    margin: 180px 20px 80px 20px
}

.camps-title {
    margin: 180px 20px 80px 20px
}